html,
body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(navy, blue,navy);
}

p {
  padding-left: 100px;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: small;
}

h1 {
  padding-left: 100px;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

canvas {
  display: block;
  border-radius: 25%;
}